<div class="center-container">
  <div class="containment">
    <div class="row center-them">
      <div class="field">
        <p class="control">
          <span class="select is-large">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </span>
        </p>
      </div>
    </div>
    <div class="row mg-top">
      <span class="split-begin"><button class="button is-info" [disabled]="!beTruthy">Previous</button></span>
      <span class="split-end"><button class="button is-info">Next</button></span>
    </div>
  </div>
</div>