
<div class="dark_background">
  <div class="blog_cms_text">TEACHERS</div>
  <h5>LOGIN</h5>
  <input id="email" type="email" [(ngModel)]="email" placeholder="email">
  <input id="password" type="password" [(ngModel)]="password" placeholder="password">
  <button (click)="login()" class="letsgo_btn">Login</button>
  <!-- <form name="form" (ngSubmit)="login()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <input id="email" type="email" name="email" [(ngModel)]="email" placeholder="Email" required />
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input id="password" type="password" name="password" [(ngModel)]="password" #password="ngModel" placeholder="Password" required />
    </div>
    <div class="form-group">
      <button (click)="login()" class="letsgo_btn">Login</button>
    </div>
  </form> -->
</div>
