/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100vh;
    margin: 0;
}
.row {
    display: flex;
    flex-direction: row;
}
.mg-top {
    margin-top: 20px;
}
.row-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.split-end {
    flex-direction: column;
    display: flex;
    width: 100px;
}
.split-begin {
    display: flex;
    flex-direction: column;
    width: 100px;
}
.containment {
    width: 60%;
}
.center-them {
    justify-content: center;
}
.space-around {
    margin: 20px 20px 0 20px;
}
.top {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}